nav.navbar {
    &.navbar-dark {
        a, .navbar-nav .nav-link {
            color: white;
            &:hover {
                opacity: .8;
            }
        }
    }
    .cart-items {
        position: relative;
        .cart-items_counter {
            height: 1rem;
            width: 1rem;
            background-color: #FF005E;
            border-radius: 50%;
            text-align: center;
            line-height: 1rem;
            right: .25rem;
            top: .25rem;
            position: absolute;
        }
    }
}